<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap/autoload.php"
		 backupGlobals="false"
	     colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true" >
	<testsuites>
		<testsuite name="Application Test Suite">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">./tests/bootstrap/</directory>
			<directory suffix=".php">./tests/support/</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">./src/</directory>
			<file>./plugin.php</file>
		</whitelist>
	</filter>
	<php>
		<env name="APP_ENV" value="testing"/>
	</php>
</phpunit>
